
@media(min-width:576px){
 
    
    
}

@media(min-width:768px){
/* .start .nine{
    padding-left: 35px;
    padding-right: 35px;
}*/

.experience article,
.education article,
.interests article{
    padding: 0 25px;
    text-align: left;
}
    
    
}




@media(min-width:992px){
   
    .start .nine{
    padding-left: 50px;
    padding-right: 50px;
}

.phone p,
.mail p,
.user p,
.location p,
.skills p{
    font-size: 1.1rem;
}

.skills h3{
    font-size: 1.4rem;
} 
    
}

@media(min-width:1200px){
   
    
    
}