
@media(min-width:576px){

    .start .text h1{
        font-size: 2.5rem;
    }

    .start .text{
        right: 35%;  
    }
    .letter img{
        width: 30%;
        height: 30%;
    }

}

@media(min-width:768px){

    .start .text h1{
        font-size: 1.8rem;
    }
    .start .text{
        right: 20%;  
    }
    .skill{
        margin-bottom: 25px;
    }

    .skills h3{
        margin-bottom: 30px;
    }
    .contact .form-group{
        padding-right: 20px;
    }

    .skills .last{
        margin-bottom: 415px;
    }
    


}




@media(min-width:992px){

    .phone p,
    .mail p,
    .user p,
    .location p,
    .skills p{
        font-size: 1.1rem;
    }

    .skills h3{
        font-size: 1.4rem;
        margin-bottom: 25px;
    } 

    .start .text h1{
        font-size: 2rem;
    }
    .skill{
        margin-bottom: 25px;
    }

    aside .fa,
    .experience .fa,
    .education .fa,
    .interests .fa,
    .contact .fa{
        font-size: 30px;
    }
    .phone p:nth-of-type(2),
    .phone p:nth-of-type(4),
    .mail p:nth-of-type(2),
    .mail p:nth-of-type(4){
        font-size: 0.9rem;
    }
    .skills .last{
        margin-bottom: 185px;
    }
    .letter img{
        width: 25%;
        height: 25%;
    }

}

@media(min-width:1200px){
    .start .text h1{
        font-size: 2.4rem;
    }
    .skills .last{
        margin-bottom: 195px;
    }


}