*{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

img{
   width: 100%;
}

.start figure{
    position: relative;
}

.start .text{
    position: absolute;
    bottom: 0;
    right: 0;
  
}

.skill{
    position: relative;
    height: 5px;
    border-radius: 3px;
    background: #ccc;
    
}

.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    width: 20%;
}

.skill .achievement span{
    position: absolute;
    right: -7px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    top: -4.5px;
    display: inline-block;
}

/*proba za span ikonice
/*.experience span.two{
    position: absolute;
    left: 0; 
}

.experience span.one{
    position: absolute;
    left: 7px; 
}*/

.experience,
.education{
    color: #737373;
}

.experience h1,
.education h1{
    font-size: 24px;
    margin-top: 30px;
}
.experience h3,
.education h3{
    font-size: 18px;
}
.experience h4,
.education h4{
    font-size: 16px;
    color: #a0caea;
}

.experience{
    margin-bottom: 40px;
    margin-top: 40px;
}

.experience .fa,
.education .fa{
    margin-top: 30px;
    font-size: 30px;
}

.start .nine{
    padding-left: 50px;
    padding-right: 50px;
}