.inactive{
    overflow: hidden;
}


body{
    background-color: #e3e3e3;
}
*{
    font-family: 'Roboto', sans-serif;
}

img{
   width: 100%;
}

.start figure{
    position: relative;
}

.start .text{
    position: absolute;
    bottom: 0;
    right: 20%;  
}
.start .text h1{
    font-size: 2rem;
}
.start .text h2{
    font-size: 1rem;
    font-weight: lighter;
}

.skill{
    position: relative;
    height: 2px;
    border-radius: 3px;
    background: #1b87c9;
    margin-bottom: 25px; 
}

.skills .last{
    margin-bottom: 40px;
}

.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 3px;
    background: #fff;
    width: 75%;
}

.skill .achievement span{
    position: absolute;
    right: -7px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: -4.5px;
    display: inline-block;
}


.experience,
.education,
.interests{
    color: #737373;
}

.experience h1,
.education h1,
.interests h1{
    font-size: 24px;
    margin-top: 30px;
}
.experience h3,
.education h3{
    font-size: 1rem;
}
.experience h4,
.education h4{
    font-size: 16px;
    color: #a0caea;
}

.experience,
.interests{
    margin-bottom: 40px;
    margin-top: 40px;
}

.experience .fa,
.education .fa,
.interests .fa{
    margin-top: 30px;
    font-size: 30px;
}
aside .fa{
    font-size: 25px;
}

.start .location p:last-of-type{
    font-size: 12px;
    font-weight: lighter;
}

.start .location p:first-of-type sup{
    font-weight: lighter;
}


.interests article figure img{
    max-width: 50%;
}

.interests span img{
    max-width: 40%;
}
.big{
    overflow: hidden;
}

.experience article,
.education article,
.interests article{
    padding: 0 20px;
    text-align: center;
}
.skills h3{
    font-size: 1.1rem;
    margin-bottom: 20px;
} 

.phone p,
.mail p,
.user p,
.location p,
.skills p{
    font-size: 0.9rem;
}

.interests figure img{
    width: 50%;
    height: 100%;
}

/* sredjivanje dugmeta za meni sa strane na casu*/

.toggle-menu{
    padding: 10px;
    border: 1px solid #000;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 5px;
}

aside{
    position: relative;
}

.toggle-menu span{
    display: block;
    height: 2px;
    background: #000;
    margin-bottom: 3px;
    width: 20px;
}
.toggle-menu span:last-of-type{
    margin-bottom: 0;
}
/* sredjivanje side menija u dugmetu*/

.menu-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}

.menu{
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 20;
    transition: 1s ease;
}

.menu.active{
    left: 0;
}

.menu .side-menu{
    height: 100vh;
    background: #777;
    padding: 10px;
    min-width: 200px;
}

.menu .side-menu a{
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
/* kraj sredjivanja side menija*/

.website{
    padding: 20px;
}