.inactive{
    overflow: hidden;
}


body{
    background-color: #e3e3e3;
}
*{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.start figure{
    position: relative;
}

.start .text{
    position: absolute;
    bottom: 0;
    right: 20%;  
}
.start .text h1{
    font-size: 2rem;
}
.start .text h2{
    font-size: 1rem;
    font-weight: lighter;
}

.phone p:nth-of-type(2),
.phone p:nth-of-type(4),
.mail p:nth-of-type(2),
.mail p:nth-of-type(4){
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.phone p:nth-of-type(1),
.phone p:nth-of-type(3),
.mail p:nth-of-type(1),
.mail p:nth-of-type(3){
    margin-bottom: 5px;
}

.skill{
    position: relative;
    height: 2px;
    border-radius: 3px;
    background: #1b87c9;
    margin-bottom: 20px; 
}

/*.skills .last{
    margin-bottom: 40px;
}*/

.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 3px;
    background: #fff;
    width: 75%;
}

.skill .achievement span{
    position: absolute;
    right: -7px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: -4.5px;
    display: inline-block;
}
.menu span{
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
}
.menu span:hover{
    color: #eae8e7;
}

.experience,
.education,
.interests,
.contact,
.gmap,
.references,
.letter{
    color: #737373;
    padding: 15px;
}

.experience h1,
.education h1,
.interests h1,
.contact h1,
.references h1{
    font-size: 24px;
    margin-top: 30px;
}
.contact{
    margin-bottom: 15px;
}
.experience h3,
.education h3,
.references h3{
    font-size: 1rem;
}
.experience h4,
.education h4,
.references h4{
    font-size: 16px;
    color: #a0caea;
}
.references{
    margin-bottom: 30px;
}
.experience,
.interests,
.gmap,
.letter,
.single{
    margin-bottom: 35px;
    margin-top: 35px;
}
.website{
    margin-bottom: 20px;
    margin-top: 0;
}

.experience .fa,
.education .fa,
.interests .fa,
.contact .fa,
.references .fa{
    margin-top: 30px;
    font-size: 1.5rem;
}
aside .fa{
    font-size: 1.2rem;
}

.start .location p:last-of-type{
    font-size: 12px;
    font-weight: lighter;
}

.start .location p:first-of-type sup{
    font-weight: lighter;
}


.interests article figure img{
    max-width: 50%;
}

.interests span img{
    max-width: 40%;
}
.big{
    overflow: hidden;
}

/*.experience article,
.education article,
.interests article{
    padding: 0 20px;
    text-align: center;
}*/
.skills h3{
    font-size: 1.1rem;
    margin-bottom: 20px;
} 

.phone p,
.mail p,
.user p,
.location p,
.skills p,
.portfolio p,
.single p{
    font-size: 0.9rem;
}

.interests figure img{
    width: 50%;
    height: 100%;
}

/* sredjivanje dugmeta za meni sa strane na casu*/

.toggle-menu{
    padding: 7px;
    border: 2px solid rgba(56,164,221,0.5);
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 5px;
}
.toggle-menu:hover{
    background-color: #fff;
    transition: 0.4s linear;
    border: 2px solid rgba(56,164,221,0.7);
}
.toggle-menu:hover span{
    background: rgba(56,164,221,0.7);
}
aside{
    position: relative;
    min-height: 100%;
}

.toggle-menu span{
    display: block;
    height: 2px;
    background: rgba(56,164,221,0.7);
    margin-bottom: 3px;
    width: 15px;
}
.toggle-menu span:last-of-type{
    margin-bottom: 0;
}
/* sredjivanje side menija u dugmetu*/

.menu-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}

.menu{
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 20;
    transition: 1s ease;
}

.menu.active{
    left: 0;
}

.menu .side-menu{
    height: 100vh;
    background: rgba(56,164,221,1);
    padding-top: 30px;
    min-width: 200px;
}

.menu .side-menu a{
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
}
.menu .side-menu li:hover a{
    color: rgba(56,164,221,0.7);
    background-color: rgba(255,255,255,0.8);
    transition: 0.2s ease;
}
/* kraj sredjivanja side menija*/

.website{
    padding: 20px;
}

.masonery{
    position: relative;
}

.single .colored,
.single p,
.portfolio .colored,
.portfolio p{
    padding: 20px;
    color: #737373; 
}

.portfolio .plate:hover{
    background-color: rgba(241,92,91,0.5)!important;
    transition: 0.5s ease-out;
}
.portfolio .bird:hover{
    background-color: rgba(106,116,132,0.5)!important;
    transition: 0.5s ease-out;
}
.portfolio .headphones:hover{
    background-color: rgba(85,81,87,0.5)!important;
    transition: 0.5s ease-out;
}
.portfolio .friends:hover{
    background-color: rgba(28,190,200,0.5)!important;
    transition: 0.5s ease-out;
}
.portfolio .food:hover{
    background-color: rgba(244,190,24,0.5)!important;
    transition: 0.5s ease-out;
}

.portfolio .colored h2,
.single .colored h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.portfolio .colored h3,
.single .colored h3{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.single .move{
    padding-left: 20px;
}
.single .doe{
    max-width: 100%;
    height: 100%;
}
.portfolio .shadow{
    margin-bottom: 1rem;
}
#map_wrapper {
    height: 400px;

}

#map {
    width: 100%;
    height: 100%;
}

.contact .form-control,
.comment .form-control{
    border: none;
    resize: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(118,114,112,0.5);
    margin-bottom: 10px;
}

.contact .form-control:hover,
.comment .form-control:hover{
    border-bottom: 1px solid rgba(160,202,234,1);
    margin-bottom: 10px;
}
.contact .form-control:focus,
.comment .form-control:focus{
    box-shadow: 1px 1px 3px #a0caea;
    /*    border-bottom: 1px solid transparent;*/
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5da4d9;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #5da4d9;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #5da4d9;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #5da4d9;
}


.comment .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9e9e9e;
}
.comment .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #9e9e9e;
}
.comment .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #9e9e9e;
}
.comment .form-control:-moz-placeholder { /* Firefox 18- */
    color: #9e9e9e;
}

.contact form button,
.comment form button{
    padding: 5px 20px;
    background-color: #5da4d9;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bolder
}

.contact form button:hover,
.comment form button:hover{
    background-color: #1b87c9;
    color: #fff;
    transition: 0.2s linear;
}

.contact div.row{
    padding-left: 15px;
}
.comment div.row{
    padding: 30px;
}

.experience:hover,
.education:hover,
.contact:hover,
.comment:hover,
.references:hover,
.interests:hover,
.website:hover,
.gmap:hover,
.letter:hover,
.portfolio .shadow:hover,
.single .shadow:hover,
.project .shadow:hover{
    box-shadow:  0 0 10px #737373;
    transition: 0.7s linear;
}

.interests figure img:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}

.letter{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 60px 40px;

}
.letter p{
    margin-bottom: 1.5rem;
}
.letter p:last-of-type{
    margin-top: 4rem;
}
.letter h3{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 35px;
    margin-top: 35px;
}

.letter img{
    width: 40%;
    height: 40%;
}
.letter address:last-child{
    font-weight: 600;
}


/*animation start*/

.animation{
    visibility: hidden;
    position: relative;
}

@keyframes slideLeft{
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.slideLeft{
    animation-name: slideLeft;
    visibility: visible;
    animation-duration: 1s;
}

@keyframes slideRight{
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
.slideRight{
    animation-name: slideRight;
    visibility: visible;
    animation-duration: 1s;
}

@keyframes slideUp{
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.slideUp{
    animation-name: slideUp;
    visibility: visible;
    animation-duration: 1s;
}


@keyframes slideDown{
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.slideDown{
    animation-name: slideDown;
    visibility: visible;
    animation-duration: 1s;
}


@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
    visibility: visible;
    animation-duration: 1s;
}
/*animation end*/

/* flipInX animation */
@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flipInX {
    animation-name: flipInX;
    visibility: visible;
    animation-duration: 3s;
}
/* flipInX animation end*/

.hover-animate img{
    width: 52.5%;
}
.hover-animate{
    position: absolute;
    top: 11%;
    text-align: center;
}


/* rotateIn animation start */
@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        animation-timing-function: ease-out;
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.rotateIn {
    animation-name: rotateIn;
    visibility: visible;
    animation-duration: 3s;
}
/* rotateIn animation end */

.project .hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
}
.project figure:hover .hover{
    visibility: visible;
    transition: 1s linear;
}
.project .shadow a:hover{
    text-decoration: none;
}

/*fadeInUp animation start*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  visibility: visible;
  animation-duration: 2s;
}
/*fadeInUp animation end*/